*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(Banner1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    padding: 20px 50px 75px 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
nav img{
    width: 150px;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    padding: 8px 12px;
    position: relative;
    display: inline-block;
}
.nav-links ul li a{
    color: white;
    font-size: 13px;
    text-decoration: none;/*underlying */  
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: red;
    display: block;
    margin: auto;
    transition: 0.9s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    color: white;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    font-size: 20px;
    color: lightyellow;
    margin: 20px 0 40px;
}
.text-box  p{
    text-decoration: none;

}
.hero-btn{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 36px;
    background: transparent;
    cursor: pointer;
    position: relative;
}
.hero-btn:hover{
    border: 5px solid yellow;
    background: red;
    transition: 1s;
}
.courses{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.course-header{
    font-size: 36px;
    color: red;
    font-weight: 1000;
}
.course-description{
    color: blue;
    font-size: 18px;
    font-weight: 300;
    padding: 15px;
}
.course-row{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.course-col{
    background: lightcyan;
    border-radius: 20px;
    flex-basis: 31%;
    padding-top: 20px;
}
.course-col:hover{
    box-shadow: 0 0 30px 0 darkblue;
}
.campuses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.campus-header{
    font-size: 36px;
    font-weight: 900;
    color:  red;
}
.campus-row{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.campus-col{
    flex-basis: 22%;
    margin-bottom: 30px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
}
.layer{
    background: layer;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.layer:hover{
    background: rgb(226, 0, 0, 0.2);
}
.layer h2{ 
    width: 100%;
    font-weight: 900;
    color: white;
    bottom: 0;
    font-size: 20px;
    left: 50%;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: 1s;
}
.layer:hover h2{
    bottom: 40%;
    opacity: 1;
}
.reviews{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.review-header{
    font-size: 36px;
    font-weight: 900;
    color:  red;
}
.review-row{
    display: flex;
    margin: 5%;
    justify-content: space-between;
}
.review-col img{
    height: 80px;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 50%;
}
.review-col{
    flex-basis: 28%;
    text-align: left;
    background: lightcyan;
    padding: 30px;
    display: flex;
    margin-left: 10px;
}
.review-col h3{
    text-align: right;
}
.review-col .fas{
    color: red;
}
.review-col .far{
    color: red;
}

